*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.margin-left {
  margin-left: 3rem; }

.primary__btn {
  background-color: #0061E0;
  padding: 2rem 4rem;
  text-align: center;
  color: white;
  border: none; }

.search__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 3rem;
  padding: 4rem;
  width: 80%;
  background-color: #fff;
  box-shadow: 0.3rem 0.1rem 0.4rem 0.3rem #b0afaf; }
  .search__form .location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5rem;
    height: 6rem;
    font-size: 1.6rem;
    color: #7C8893;
    border: 1px solid blue;
    transition: all .3s; }
  .search__form .bedroom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5rem;
    height: 6rem;
    font-size: 1.6rem;
    color: #7C8893;
    border: 1px solid blue;
    transition: all .3s; }
  .search__form .rent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5rem;
    height: 6rem;
    font-size: 1.6rem;
    color: #7C8893;
    border: 1px solid blue;
    transition: all .3s; }
  .search__form .location:hover, .search__form .location:active, .search__form .bedroom:hover, .search__form .bedroom:active,
  .search__form .rent:hover, .search__form .rent:active {
    border: none;
    outline: 1px solid #0061E0;
    color: #0061E0; }
  .search__form-btn {
    display: flex;
    justify-content: center;
    align-items: center; }
    .search__form-btn > img {
      width: 2.4rem;
      height: 2.4rem; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas: "hd hd hd hd" "hero hero hero hero" " . sf sf ." " . ai ac ." " . ser ser . " "bc bc bc bc" ". exp exp . " ". ba ba . " ". ft ft . " "test test test test" " . pro pro ." "bcom bcom bcom bcom" " . facv facc . " " . news news . " "newsl newsl newsl newsl" "footer footer footer footer";
  background-color: none; }

.header {
  grid-area: hd; }

.hero {
  grid-area: hero; }

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem; }

.hero__img {
  display: flex;
  flex-direction: column;
  padding: 6rem; }

.search__form {
  grid-area: sf; }

.aboutus__img {
  grid-area: ai;
  background-color: white; }

.aboutus__content {
  grid-area: ac;
  background-color: yellow; }

.services {
  grid-area: ser;
  background-color: pink; }

.banner__construction {
  grid-area: bc;
  background-color: brown; }

.expertise {
  grid-area: exp;
  background-color: bisque; }

.banner__agent {
  grid-area: ba;
  background-color: yellowgreen; }

.feature {
  grid-area: ft;
  background-color: red;
  min-height: 75vh; }

.testimonial {
  grid-area: test;
  background-color: yellowgreen; }

.properties {
  grid-area: pro;
  background-color: powderblue; }

.banner__comp {
  grid-area: bcom;
  background-color: blue; }

.facilities__video {
  grid-area: facv;
  background-color: yellowgreen; }

.facilities__content {
  grid-area: facc;
  background-color: bisque; }

.newsfeed {
  grid-area: news;
  background-color: blanchedalmond; }

.newsletter {
  grid-area: newsl;
  background-color: blue; }

.footer {
  grid-area: footer;
  background-color: whitesmoke; }

.header .nav {
  padding: 1.3rem;
  background-color: #ECF2F9;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header .nav__logo {
    margin-right: 3.3rem; }
    .header .nav__logo > img {
      width: 22.0rem; }
  .header .nav__menu {
    width: 60rem; }
    .header .nav__menu > ul {
      display: flex;
      font-size: 1.6rem;
      line-height: 2.4rem;
      justify-content: space-around;
      align-items: center;
      color: #7C8893; }
      .header .nav__menu > ul li {
        text-decoration: none;
        list-style: none; }
      .header .nav__menu > ul li:hover:not(:nth-child(6)) {
        text-decoration: underline;
        color: #0061E0; }
      .header .nav__menu > ul li button.nav__btn {
        padding: 1.6rem;
        text-align: center;
        border: none;
        background-color: #0061E0;
        color: white; }

.header .nav__search--icon {
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: -0.3rem 1rem 2rem 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center; }

.hero {
  background-color: #F4F9FF;
  display: flex; }
  .hero__content {
    margin-top: -22rem; }
    .hero__content h3 {
      line-height: 2.4rem;
      font-size: 1.4rem;
      color: #0061E0;
      font-weight: 200;
      text-transform: uppercase; }
    .hero__content h1 {
      font-size: 7.2rem;
      font-weight: 550; }
    .hero__content p {
      color: #7C8893;
      font-size: 1.6rem;
      margin-bottom: 3rem; }
  .hero__img {
    position: relative; }
    .hero__img--main {
      display: flex;
      flex-direction: column; }
      .hero__img--main > img {
        width: 60rem;
        height: 60.0rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
    .hero__img--rating {
      position: absolute;
      top: 14%;
      left: 45%; }
    .hero__img--box {
      position: relative;
      top: -9rem;
      left: 9rem;
      background-color: #FFFFFF;
      width: 40%;
      text-align: center;
      padding: 3rem 0 0 0;
      margin-bottom: -8rem; }
      .hero__img--box p {
        font-size: 1.6rem;
        color: #7C8893;
        padding-bottom: 2rem; }
        .hero__img--box p span {
          color: #0061E0;
          font-weight: 800;
          font-size: 3.4rem; }

.aboutus__img {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .aboutus__img > img.stairs {
    height: 60.2rem;
    width: 42.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .aboutus__img-content {
    height: 28.7rem;
    position: relative;
    top: -24rem;
    align-self: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.4rem;
    box-shadow: 0.5rem 0.3rem 0.3rem 0 #8f8b8b;
    border-radius: .6rem; }
    .aboutus__img-content > img {
      height: 8.2rem;
      width: 7rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .aboutus__img-content h1 {
      font-size: 2.2rem;
      font-weight: 300;
      width: 40%;
      line-break: strict; }
    .aboutus__img-content p {
      font-size: 1.6rem;
      font-weight: 100;
      color: #7C8893; }

.aboutus__content {
  padding: 3rem;
  display: flex;
  flex-direction: column; }
