*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.primary__btn {
  background-color: #0061E0;
  padding: 2rem 4rem;
  text-align: center;
  color: white;
  border: none; }

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }

.nav {
  background-color: #ECF2F9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__logo {
    margin-right: 3.3rem; }
    .nav__logo > img {
      width: 22.0rem; }
  .nav__menu {
    width: 85%; }
    .nav__menu > ul {
      display: flex;
      font-size: 1.6rem;
      line-height: 2.4rem;
      justify-content: space-around;
      align-items: center;
      color: #7C8893; }
      .nav__menu > ul li {
        text-decoration: none;
        list-style: none; }
      .nav__menu > ul li:hover:not(:nth-child(6)) {
        text-decoration: underline;
        color: #0061E0; }
      .nav__menu > ul li button.nav__btn {
        padding: 1.6rem;
        text-align: center;
        border: none;
        background-color: #0061E0;
        color: white; }

.nav__search--icon {
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: -0.3rem 1rem 2rem 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center; }

.header {
  height: 65vh;
  background-color: #f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header container {
    display: flex;
    justify-content: space-between; }

.header {
  position: relative; }
  .header .container {
    position: absolute;
    top: 6.5rem; }
    .header .container .header__content h3 {
      line-height: 2.4rem;
      font-size: 1.4rem;
      color: #0061E0;
      font-weight: 200;
      text-transform: uppercase; }
    .header .container .header__content h1 {
      font-size: 7.2rem;
      height: 16.4rem;
      font-weight: 550; }
    .header .container .header__content p {
      color: #7C8893;
      font-size: 1.6rem; }
