

.header{
    height: 65vh;
    background-color: #f4f9ff;;
    display: flex;
    justify-content: center;
    align-items:center;

    & container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
}