
// starting layout css 


.wrapper {
    
    display: grid;
    grid-template-columns:1fr 3fr 3fr 1fr;
    grid-template-areas:
        "hd hd hd hd"
        "hero hero hero hero"
        " . sf sf ."
        " . ai ac ."
        " . ser ser . "
        "bc bc bc bc"
        ". exp exp . "
        ". ba ba . "
        ". ft ft . "
        "test test test test"
        " . pro pro ."
        "bcom bcom bcom bcom"
        " . facv facc . "
        " . news news . "
        "newsl newsl newsl newsl"
        "footer footer footer footer"
    ;
    // gap: 1rem;
    background-color: none;
    
}



.header{
    grid-area: hd;
  
   

}
// [class^="hero"]{
//     border: 3px solid black;
// }

.hero{
    grid-area: hero;
}
.hero__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
    padding: 6rem;
    // margin-left: 0;
    
    // background-color: red;
}
.hero__img{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    // margin-right: 0 ;
    
    // padding: 6rem 0 0 0;
   }
.search__form{
            
    grid-area: sf;
    
}
.aboutus__img{
    grid-area: ai;
    background-color: white;
}
.aboutus__content{
    grid-area: ac;
    background-color: yellow;
}
.services{
    grid-area: ser;
    background-color: pink;
}
.banner__construction{
    grid-area: bc;
    background-color: brown;
}
.expertise{
    grid-area: exp;
    background-color: bisque;
}
.banner__agent{
    grid-area: ba;
    background-color: yellowgreen;
}
.feature{
    grid-area: ft;
    background-color: red;
    min-height: 75vh;
}
.testimonial{
    grid-area: test;
    background-color: yellowgreen;
}
.properties{
    grid-area: pro;
    background-color: powderblue;
}
.banner__comp{
    grid-area: bcom;
    background-color: blue;
}
.facilities__video{
    grid-area: facv;
    background-color: yellowgreen;
}
.facilities__content{
    grid-area: facc;
    background-color: bisque;
}

.newsfeed{
    grid-area: news;
    background-color: blanchedalmond;
}

.newsletter{
    grid-area: newsl;
    background-color: blue;
}

.footer{
    grid-area: footer;
    background-color: whitesmoke;
}

