

// .header{
//     height: 84.5rem;
//     background-color: #f4f9ff;;
//     display: flex;
//     justify-content: center;
//     align-items:center;

//     & container{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }

// header typography


// .wrapper > *:nth-child(2) {
//     /* CSS properties for styling the "hc" grid item */
//     background-color: red;
// }
.hero{
    background-color: #F4F9FF;
    display: flex;


    &__content{
    
    
        h3{
            line-height: $tertiary__line;
            font-size: $tertiary__font;
            color: $primary__color;
            font-weight: 200;
            text-transform: uppercase;
        }   
        h1{
            font-size: 7.2rem;
            font-weight: 550;
            
        }
        p{
            color: $gray__color;
            font-size: $secondary__font;
            margin-bottom: 3rem;
        }
    }


&__img{

position: relative;

&--main{
   
    display: flex;
    flex-direction: column;

    
    & > img {
        width: 60rem;
        height: 60.0rem;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
&--rating{
    position: absolute;
    top: 14%;
    left: 45%;
}

&--box{
    position: relative;
    top: -9rem;
    left: 9rem;
    background-color: #FFFFFF;
    width: 40%;
    text-align: center;
    padding: 3rem 0 0 0;
    margin-bottom: -8rem;
   
    
    p{
        font-size: $secondary__font;
        color: $gray__color;
        padding-bottom: 2rem;
    
        span{
            color: $primary__color;
            font-weight: 800;
            font-size: 3.4rem;
        }
    }
}


}
}
    
    
// }